flask
jinja2==3.1.2
python-dotenv>=0.21.0,<1.0
requests
langchain
langchain-community
chromadb
sentence-transformers
langgraph
langsmith
langchain-anthropic
huggingface_hub
langgraph-supervisor
langchain-tavily
apscheduler==3.11.0
langchain-huggingface
langchain-chroma
arxiv